POSTGRES_USER="root"
POSTGRES_PASSWORD="12345"
POSTGRES_HOST="localhost"
POSTGRES_DB="wedding"
POSTGRES_PORT=5433

DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}"

ADMIN_LOGIN="admin_login_here"
ADMIN_PASSWORD="super_secret_password"

JWT_SECRET="17a8ca