:root {
    --purple: #6f02ae;
    --red: #820000;
    --green: #297c45;
    //--olive: #abb039;
  --olive: #b3bf3d;
    --yellow: #f6d840;
    --pink: #e488ca;
    --blue:#141a89;
    --magenta: #ffb5a2;
    --red-light: #ca3d3d;
    --green-light: #85bc98;
    --blue-light: #407197;
    --dark: #27150b;
}