@use "sass:map";

$breakpoints: (
        mobile: 480px,
        tablet: 768px,
        laptop: 1024px,
        desktop: 1280px
);


// ---------- MIN ----------
@mixin min-mobile { @media (min-width: map.get($breakpoints, mobile)) { @content; } }
@mixin min-tablet { @media (min-width: map.get($breakpoints, tablet)) { @content; } }
@mixin min-laptop { @media (min-width: map.get($breakpoints, laptop)) { @content; } }
@mixin min-desktop { @media (min-width: map.get($breakpoints, desktop)) { @content; } }

// ---------- MAX ----------
@mixin max-mobile { @media (max-width: map.get($breakpoints, mobile)) { @content; } }
@mixin max-tablet { @media (max-width: map.get($breakpoints, tablet)) { @content; } }
@mixin max-laptop { @media (max-width: map.get($breakpoints, laptop)) { @content; } }
@mixin max-desktop { @media (max-width: map.get($breakpoints, desktop)) { @content; } }

// ---------- BETWEEN (опционально) ----------
@mixin between($min, $max) {
  @media (min-width: map.get($breakpoints, $min)) and (max-width: map.get($breakpoints, $max)) {
    @content;
  }
}

@mixin motion-ok {
  @media (prefers-reduced-motion: no-preference) {
    @content;
  }
}
