

@mixin flex($gap: null) {
  display: flex;
  min-width: 0;

  @if ($gap) {
    gap: $gap;
  }
}

@mixin flex-list($gap: null, $align: null, $justify: null) {
  @include flex($gap);

  & {
    @if ($align) {
      align-items: $align;
    }

    @if ($justify) {
      justify-content: $justify;
    }
  }
}

@mixin flex-list-wrap($gap: null, $align: null, $justify: null) {
  @include flex-list($gap);

  & {
    flex-wrap: wrap;
  }
}

@mixin flex-list-column($gap: null, $align: null, $justify: null) {
  @include flex-list($gap, $align, $justify);

  & {
    flex-direction: column;
  }
}

@mixin flex-center($gap: null) {
  @include flex($gap);

  & {
    align-items: center;
    justify-content: center;
  }
}

@mixin flex-center-vert($gap: null, $justify: null) {
  @include flex-list($gap, center, $justify);
}

@mixin flex-center-horiz($gap: null, $align: null) {
  @include flex-list($gap, $align, center);
}



